# APP
APP_ENV=development
APP_URL=http://localhost:8080
CLIENT_URL=http://localhost:5173

# MYSQL
DB_HOST=db
DB_PORT=3306
DB_NAME=household_ecommerce
DB_USER=app_user
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_root_me

# AUTH
JWT_SECRET=change_this_secret

# VNPAY
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=http://localhost:5173/payment/result

# EMAIL
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
